@using Pizzeria.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<div class="row">
    <div class="col s12 m4 l4">
        <div class="card red center-align">
            <div class="card-image">
                <img src="https://lizemariarthur.files.wordpress.com/2013/06/teenagers-eating-pizza.jpg">

            </div>
            <div class="card-content white-text">
                <span class="card-title">Student Discounts</span>
                <p>
                    Students get an additional 15% off when purchasing take out!!!
                    Discount is done in store, must bring VALID student ID!
                </p>
            </div>
            <div class="card-action">
                <a href="/Home/InsertOrderForm" class="waves-effect waves-light btn black">Place Order</a>

            </div>
        </div>

        

    </div>
    <div class="col s12 m8 l8">
       <a href="/Home/InsertOrderForm"> <img class="responsive-img" src="http://jetspizza.com/contentimagedata/show/7/664/410"></a>

        <div class="card red center-align">
            <div class="card-image medium">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/03/ed/44/3d/pizzeria-dal-ciaccia.jpg">

            </div>
            <div class="card-content white-text">
                <span class="card-title">About Us</span>
                <p>
                    At Enke's, we think of pizza as a people business – a business of people like us for people like you. We put our welcomed guests in the forefront of everything we do to provide that perfect pie experience. We never compromise on the quality of our ingredients; they’re always superior. They cost a little more, but we know quality is what pizza fanatics demands.

                </p>
            </div>
            <div class="card-action">
                <a href="https://goo.gl/maps/iHeF54uM7uK2" target="_blank" class="waves-effect waves-light btn black"><i class="material-icons white-text left ">location_on</i>Locate Us</a>
                <a href="tel:6075873419" class="waves-effect waves-light btn black">Call Us</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

        
